#result-section {
  h1{
    text-align: center;
    margin-top: $x-big-spacing;
  }
  #result-page{
    height: 800px;
    .beer-wrapper {
      #result {
        padding: 0 $x-big-spacing;
        position: relative;
        height: auto;
        .beername_wrapper{
          display: flex;
          justify-content: space-around;
          .beer{
            width: 20%;
            text-align: center;
            .beer-image {
              .beer-img-wrapper {
                display: flex;
                justify-content: space-around;
                label {
                  /* HIDE RADIO */
                  [type=radio]{
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    height: 0;
                  }
                  /* CHECKED STYLES */
                  [type=radio]:checked + .img-arrow{
                    background-color: $light-grey2;
                    border-radius: $big-border-radius $big-border-radius 0 0;
                    .arrow {
                      display: block;
                      border-bottom: 20px solid $blue;
                    }
                  }
                  .img-arrow {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    cursor: pointer;
                    padding: 0 20%;
                    .arrow-wrapper {
                      text-align: center;
                      .arrow {
                        width: 0;
                        height: 0;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-bottom: 20px solid transparent;
                      }
                    }
                    img {
                      width: 100%;
                      padding-bottom: 30px;
                    }
                  }
                }
              }
            }
              .beer-information{
                text-align: left;
                display: flex;
                flex-direction: column;
                border: $medium-border-size solid $blue;
                border-radius: $small-border-radius;
                position: absolute;
                left: $x-big-spacing;
                width: calc(100% - 100px);
                .name{
                  padding: $big-spacing;
                }
                .information-wrapper {
                  display: grid;
                  grid-template-columns: 6fr 4fr;
                  .information-left{
                    .description{
                      padding: 0 $big-spacing $big-spacing;
                    }
                    .price-n-btn{
                      display: flex;
                      flex-wrap: wrap;
                      .price-n-stock {
                        .price{
                          color: $blue;
                          font-weight: $big-font-weight;
                          padding: 0 $big-spacing $x-small-spacing;
                        }
                        .in-stock{
                          color: $blue;
                          font-size: $small-font-size;
                          padding: 0 $big-spacing $big-spacing;
                        }
                      }
                      .buy-beer{
                        color:$white;
                        background-color: $blue;
                        margin: 0 $big-spacing $big-spacing;
                        border: $small-border-size solid $blue;
                        padding: $small-spacing $big-spacing;
                        cursor: pointer;
                      }
                      .buy-beer:hover {
                        color:$blue;
                        background-color: $white;
                      }
                    }
                  }
                  .information-right{
                    .beer-info:first-child{
                      padding: 0 $big-spacing $x-small-spacing;
                    }
                    .beer-info{
                      padding: $x-small-spacing $big-spacing;
                    }
                    .beer-info:last-child{
                      padding: $x-small-spacing $big-spacing $big-spacing;
                    }
                    .beer-point{
                      color: $blue;
                    }
                  }
                }
            }
            .tabcontent{
              display: none;
            }
          }
        }
      }
    }
  }
  .add-all {
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    margin: $big-spacing 0;
      .add-all-text {
        padding: $small-spacing;
        font-weight: $big-font-weight;
      }
      .input-button {
        .input-calc {
          display: flex;
          flex-wrap: nowrap;
          border: $small-border-size solid $grey;
          margin: 0 $big-spacing;
          button {
            padding: 0;
            margin: 0;
            font-size: $small-font-size;
            cursor: pointer;
            height: 100%;
            width: 35px;
            padding: $small-spacing;
            border: $small-border-size solid $grey;
            border-radius: $small-border-radius;
            background-color: $grey;
            color: $black;
          }
          input {
            padding: 0;
            margin: 0;
            width: 30px;
            border: none;
            text-align: center;
          }
        }
      }
      .add-all-button {
        color: $blue;
        background-color: $white;
        border: $small-border-size solid $blue;
        padding: $small-spacing $big-spacing;
        cursor: pointer;
      }
      .add-all-button:hover {
        background-color: $blue;
        color: $white;
      }
    }
}
@media only screen and (max-width: 716px) {
#result-section {
  #result-page{
    height: auto;
    .beer-wrapper {
      #result {
        .beername_wrapper{
          display: flex;
          flex-wrap: wrap;
          .beer{
            width: 130px;
            text-align: center;
            .beer-image {
              .beer-img-wrapper {
                display: flex;
                justify-content: space-around;
                label {
                  /* CHECKED STYLES */
                  [type=radio]:checked + .img-arrow{
                    background-color: transparent;
                    .arrow {
                      display: block;
                      border-bottom: 10px solid $blue;
                    }
                  }
                  .img-arrow {
                    .arrow-wrapper {
                      .arrow {
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid $blue;
                      }
                    }
                    img {
                      width: 130px;
                      padding-bottom: 0px;
                    }
                  }
                }
              }
            }
            .beer-information{
              display: block;
              position: static;
              width: 100%;
              .name{
                padding: $small-spacing $small-spacing 0 $small-spacing;
                font-size: $small-font-size;
              }
              .information-wrapper {
                display: flex;
                flex-wrap: wrap;
                .information-left{
                  padding: 0 $small-spacing $small-spacing $small-spacing;
                  order:2;
                  width: 100%;
                    .description{
                    display: none;
                    }
                    .price-n-btn{
                      padding: 0;
                      margin: 0;
                      .price-n-stock {
                        padding: 0;
                        margin: 0;
                        .price{
                          padding: 0;
                          margin: 0;
                          font-size: $small-font-size;
                        }
                        .in-stock{
                          padding: 0 0 $small-spacing 0;
                          margin: 0;
                          font-size: $x-small-font-size;
                        }
                      }
                      .buy-beer{
                        width: 100%;
                        padding: $small-spacing;
                        margin: 0;
                      }
                      .buy-beer:hover {
                      }
                    }
                  }
                  .information-right{
                    order:1;
                    width: 0;
                    width: 100%;
                    padding: $small-spacing;
                  .beer-info:first-child{
                    padding: 0;
                  }
                  .beer-info{
                    font-size: $small-font-size;
                    padding: $small-spacing 0 0 0;
                  }
                  .beer-info:last-child{
                    padding: $small-spacing 0 0 0;
                  }
                  .beer-info-hide {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .add-all {
    flex-wrap: wrap;
    justify-content: center;
    .add-all-text {
      padding: $medium-spacing;
      font-weight: $big-font-weight;
      .input-calc {
        margin: 0;
      }
    }
  }
}
}
