* {
    margin: 0;
    padding: 0;
}
/* --- Fonttype --- */
$font-stack:    “open sans”, HelveticaNeue, “Helvetica Neue”, Helvetica-
Neue, Helvetica, Arial, sans-serif;

/* --- Font size --- */
$xx-small-font-size: 11px;
$x-small-font-size: 13px;
$small-font-size: 15px;
$medium-font-size: 20px;
$big-font-size: 28px;
$x-big-font-size: 34px;

/* --- Font weight --- */
$small-font-weight: 300;
$medium-font-weight: 400;
$big-font-weight: 600;

/* --- Font size --- */
$small-border-size: 1px;
$medium-border-size: 2px;
$big-border-size: 3px;

/* --- Colors --- */
$white: #fefefe;
$blue: #6786A1;
$light-grey1: #fafafa;
$light-grey2: #e8e8e8;
$light-grey3: #efefef;
$grey: #e1e1e1;
$dark-grey1: #8d8d8d;
$dark-grey2: #666666;
$black: #222222;

/* --- Border radius --- */
$x-small-border-radius: 1px;
$small-border-radius: 2px;
$medium-border-radius: 3px;
$big-border-radius: 5px;

/* --- Spacing --- */
$x-small-spacing: 5px;
$small-spacing: 10px;
$medium-spacing: 25px;
$big-spacing: 35px;
$x-big-spacing: 50px;

/* --- Styling to main body in index --- */
body {
    font: 100% $font-stack;
    color: $black;
    background-color: $white;
    @import '_header';
    @import 'index_main';
    @import 'test';
    @import 'filter-test';
    @import '_footer';
    @import 'loader';
}
