.test{
  background-image: url('beergrid-opacity05.png');
  width: 100vw;
  height: 100vh;
  .test-wrapper {
      margin: 0 $x-big-spacing;
      height: 100vh;
      .logo{
        height: 50px;
        padding: $x-big-spacing 0;
        display: block;
        margin: auto;
      }
      #question-header {
          text-align: center;
          font-size: $big-font-size;
          padding: $medium-spacing;
      }
      #button-form-wrapper {
          display: flex;
          justify-content: space-between;
          .quiz-button {
              font-size: $small-font-size;
              font-weight: $big-font-weight;
              cursor: pointer;
              height: 100%;
              padding: $small-spacing;
              border: $small-border-size solid $blue;
              border-radius: $small-border-radius;
          }
          a{
            text-decoration: none;
            text-align: center;
          }
          .quiz-buttonx4 {
              margin-top: 105px;
          }
          .quiz-buttonx6 {
              margin-top: 105px;
          }
          .quiz-button1 {
              background-color: $white;
              color: $blue;
              width: 120px;
          }
          .quiz-button1:hover {
              background-color: $blue;
              color: $white;
          }
          .quiz-button2 {
              background-color: $blue;
              color: $white;
              height: 40px;
              width: 120px;
          }
          .quiz-button2:hover {
              background-color: $white;
              color: $blue;
          }
          .question-answers {
              display: flex;
              justify-content: space-between;
              .answers {
                  /* HIDE RADIO */
                  [type=radio] {
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    height: 0;
                  }
                  /* ANSWER-BORDER STYLES */
                  [type=radio] + .answer-border{
                      cursor: pointer;
                      padding: $small-spacing;
                      margin: $small-spacing;
                      border: $medium-border-size solid $blue;
                      border-radius: 10px;
                      min-height: 210px;
                  }

                  /* CHECKED ANSWER-BORDER STYLES */
                  [type=radio]:checked + .answer-border{
                      border: $medium-border-size solid $blue;
                      background-color: $blue;
                      color: $white;
                  }
                  .answer-border {
                    background-color: $white;
                      img {
                          height: 150px;
                          width: 100%;
                          min-width: 150px;
                          max-width: 360px;
                      }
                      p {
                          text-align: center;
                          margin: $small-spacing 0px;
                          font-weight: $big-font-weight;
                      }
                  }
              }
          }
          @media only screen and (max-width: 1085px) {
              .quiz-button {
                  margin-top: 230px;
              }
              .question-answers {
                  flex-wrap: wrap;
                  justify-content: center;
                  .answers {
                      .answer-border {
                          img {
                              height: 100%;
                              width: 100%;
                              min-width: 75px;
                              max-width: 180px;
                          }
                      }
                  }
              }
          }
          @media only screen and (max-width: 1395px) {
              .quiz-buttonx6 {
                  margin-top: 230px;
              }
              #questions-6-answers {
                  flex-wrap: wrap;
                  justify-content: center;
                  .answers {
                      .answer-border {
                          img {
                              height: 100%;
                              width: 100%;
                              min-width: 75px;
                              max-width: 180px;
                          }
                      }
                  }
              }
          }
          @media only screen and (max-width: 578px) {
              .question-answers {
                  flex-wrap: wrap;
                  justify-content: center;
                  .answers {
                      [type=radio] + .answer-border{
                          padding: $x-small-spacing;
                      }
                      .answer-border {
                          text-align: center;
                          width: 75px;
                          img {
                              height: 100%;
                              width: 70px;
                          }
                          p {
                              overflow: hidden;
                          }
                      }
                  }
              }
          }
          @media only screen and (max-width: 920px) and (min-width: 579px) {
              .quiz-buttonx6 {
                  margin-top: 165px;
              }
              #questions-6-answers {
                  flex-wrap: wrap;
                  justify-content: center;
                  .answers {
                      [type=radio] + .answer-border{
                          padding: $x-small-spacing;
                      }
                      .answer-border {
                          text-align: center;
                          img {
                              height: 100%;
                              width: 120px;
                          }
                          p {
                              overflow: hidden;
                          }
                      }
                  }
              }
          }
      }
      @media only screen and (max-width: 727px) {
          #button-form-wrapper {
              flex-wrap: wrap;
              .quiz-button {
                  margin-top: $medium-spacing;
              }
              .quiz-button1 {
                  order: 2;
              }
              .quiz-button2 {
                  order: 3;
              }
              .question-answers {
                  order: 1;
                  width: 100%;
              }
          }
      }
      #bottles-wrapper {
          display: flex;
          justify-content: center;
          padding-top: $big-spacing;
          img {
              padding: 0 $small-spacing;
              width: 50px;
          }
      }
      .progress-bar{
        position: absolute;
        bottom: 0;
        height: 100px;
        right: 50%;
        transform: translateX(50%);
      }
  }
}
