.test{
  background-image: url('beergrid-opacity05.png');
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  .test-wrapper-hidden {
    display: none;
  }
  .test-wrapper {
      margin: 0 $x-big-spacing;
      height: 100vh;
      .logo{
        height: 50px;
        padding: $x-big-spacing 0;
        display: block;
        margin: auto;
      }
      .question-header {
          text-align: center;
          font-size: $big-font-size;
          padding: $medium-spacing;
      }
      .button-form-wrapper {
          display: flex;
          justify-content: space-between;
          padding-bottom: 100px;
          .quiz-button {
              font-size: $small-font-size;
              font-weight: $big-font-weight;
              cursor: pointer;
              height: 100%;
              padding: $small-spacing;
              border: $small-border-size solid $blue;
              border-radius: $small-border-radius;
          }
          a{
            text-decoration: none;
            text-align: center;
          }
          .quiz-buttonx4 {
              margin-top: 100px;
          }
          @media only screen and (max-width: 874px) {
            .quiz-buttonx4 {
                margin-top: 345px;
            }
          }
          .quiz-button1 {
              background-color: $white;
              color: $blue;
              width: 120px;
          }
          .quiz-button1:hover {
              background-color: $blue;
              color: $white;
          }
          .quiz-button2 {
              background-color: $blue;
              color: $white;
              height: 40px;
              width: 120px;
          }
          .quiz-button2:hover {
              background-color: $white;
              color: $blue;
          }
          .question-answers {
              display: flex;
              justify-content: space-between;
              .answers {
                  /* HIDE RADIO */
                  [type=radio] {
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    height: 0;
                  }
                  /* ANSWER-BORDER STYLES */
                  [type=radio] + .answer-border{
                      cursor: pointer;
                      padding: $small-spacing;
                      margin: $small-spacing;
                      border: $medium-border-size solid $blue;
                      border-radius: 10px;
                      height: 200px;
                      width: 150px;

                  }

                  /* CHECKED ANSWER-BORDER STYLES */
                  [type=radio]:checked + .answer-border{
                      border: $medium-border-size solid $blue;
                      background-color: $blue;
                      color: $white;
                  }
                  .answer-border {
                    background-color: $white;
                      img {
                          width: 100%;
                          min-width: 150px;
                          max-width: 150px;
                      }
                      p {
                          text-align: center;
                          font-weight: $big-font-weight;
                      }
                  }
              }
          }
          @media only screen and (max-width: 1267px) {
            .question-answers {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            .quiz-buttonx4 {
                margin-top: 205px;
            }
          }
      }
      .progress-bar{
        position: absolute;
        bottom: 0;
        height: 100px;
        right: 50%;
        transform: translateX(50%);
      }
      @media only screen and (max-width: 1267px) {
          .progress-bar{
            height: 80px;
          }
      }
      @media only screen and (max-width: 874px) {
          .progress-bar{
            height: 60px;
          }
      }
  }
  @media only screen and (max-width: 648px) {
      .test-wrapper{
        margin: 0 $small-spacing;
        .logo{
          height: 50px;
          padding: $x-small-spacing 0;
          display: block;
          margin: auto;
        }
        .question-header {
            text-align: center;
            font-size: $medium-font-size;
            padding: $small-spacing;
        }
        .button-form-wrapper {
          display: flex;
          flex-wrap: wrap;
          .quiz-button1 {
            order: 2;
            margin: 0;
          }
          .quiz-button2 {
            order: 3;
            margin: 0;
          }
          .question-answers {
            order: 1;
            .answers {
                /* ANSWER-BORDER STYLES */
                [type=radio] + .answer-border{
                    height: 175px;
                    width: 125px;
                }
                .answer-border {
                    img {
                        width: 100%;
                        min-width: 125px;
                        max-width: 125px;
                    }
                }
            }
        }
        }
    }
  }
}
